name: CI sin pruebas
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  no-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Mensaje
        run: echo "CI ejecutado sin pruebas ni lint"